/* Generel styling*/
* {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    box-sizing: border-box;
    margin: 0;
}


/* Footer */

footer {
    grid-area: f;
    background-color: #492628;
    width: 100%;
    flex-direction: row;
    display: flex;
}

#footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    height: 100%;
    padding-top: 30px;
}

#footer a {
    text-decoration: none !important;
    font-family: tondo, sans-serif;
    font-weight: 300;
    color: #FFFDED;

}

#footer li {
    display: block;
}

#footer li a {
    font-size: 14px;
}

#footer a:hover {
    color: #fff;
}

.korn-footer img {
    width: 168px;
    position: relative;
    margin-top: -40px;
    margin-left: 80px;
}

.korn-footer {
    background-color: #492628;
}

.copyright {
    background-color: #492628;
    width: 20%;
    margin-left: 10px;
}

.copyright p {
    font-size: 10px;
    padding-top: 40px;
    padding-bottom: 10px;
    color: #fff;
}
