/* Generel styling*/
* {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  box-sizing: border-box;
  margin: 0;
}

p {
  font-family: 'proxima soft';
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'lato';
  font-weight: 500;
}

/* frontpage */
.main-wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-areas:
    "v v v v v v v v"
    "o o o o o o o o";
}

#header-video {
  width: 100%;
  height: 100%;
}

#dimmed {
  display: flex;
  height: 100%;
  grid-area: v;
}

#dimmed h1 {
  font-size: 50px;
  color: #fff;
  position: absolute;
  top: 300px;
  z-index: 10;
  text-align: center;
  width: 100%;
  height: 100%;
}

.timeline {
  grid-area: t;
  top: 1300px;
  position: absolute;
  left: 20px;
}

/* Section 1 - opstart */
.opstart {
  width: 100%;
  background-color: #151515;
  grid-area: o;
  height: 1080px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

#bg {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-right: 250px;
}

.opstart h2 {
  background-color: #F9C904;
  padding: 10px 70px;
  color: #fff;
  position: absolute;
  margin-top: 30px;
}

.opstart p {
  width: 20%;
  justify-content: flex-end;
  color: #fff;
  font-size: 16px;
  line-height: 23px;
  padding-top: 110px;
}

.opstart img {
  width: 550px;
  height: 350px;
  padding-left: 30px;
}

#content {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: row;
  text-align: right;
}
