/* Generel styling*/
* {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    box-sizing: border-box;
    margin: 0;
}

/* Menu */
header {
    background-color: #fff;
    width: 100%;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 5px #aaaaaa;
}

.logo-burger {
    display: flex;
    align-items: center;
    margin-left: .5em;
    color: #492628;

}


.logo1 {
    width: 70px;
    height: 50px;
    background-color: #fff;
    position: absolute;
    top: 15px;
}


nav {
    width: 100%;
    justify-content: center;
}


#main-nav {
    display: flex;
    margin-right: .5em;
    list-style: none;
    justify-content: center;
    width: 100%;
    margin-top: 30px !important;
    margin-bottom: 30px !important;


}

#main-nav a {
    display: block;
    margin-left: 1em;
    font-size: 16px;
    line-height: 1.4em;
    color: #492628;
    text-decoration: none;
    margin: 0 35px;
    font-family: tondo, sans-serif;
    font-weight: 500;
}

#main-nav a:hover {
    color: #7e7f2f;
}

.active {
    color: white;
}

.hidden {
    display: none;
}

.social {
    position: absolute;
    right: 0;
    justify-content: flex-end;
    top: 20px;
}

.social2 {
    position: absolute;
    right: 50px;
    justify-content: flex-end;
    top: 20px;
}

.social2 img {
    width: 40px;
    height: 40px;
}

.social img {
    width: 40px;
    height: 40px;
}

/* Footer */

footer {
    grid-area: f;
    background-color: #492628;
    width: 100%;
    flex-direction: row;
    display: flex;
}

#footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    height: 100%;
    padding-top: 30px;
}

#footer a {
    text-decoration: none !important;
    font-family: tondo, sans-serif;
    font-weight: 300;
    color: #FFFDED;

}

#footer li {
    display: block;
}

#footer li a {
    font-size: 14px;
}

#footer a:hover {
    color: #fff;
}

.korn-footer img {
    width: 168px;
    position: relative;
    margin-top: -40px;
    margin-left: 80px;
}

.korn-footer {
    background-color: #492628;
}

.copyright {
    background-color: #492628;
    width: 20%;
    margin-left: 10px;
}

.copyright p {
    font-size: 10px;
    padding-top: 40px;
    padding-bottom: 10px;
    color: #fff;
}

/* Mobile menu - media queries*/

/* Mobile menu */
@media all and (max-width: 1200px) {

    /*HEADER NAV*/
    header {
        display: block;
        box-shadow: 0 0 0px #000;
    }

    .logo-burger {
        justify-content: space-between;
        align-items: center;
        padding-top: 17px;
        padding-bottom: 17px;
        background-color: #fff;

    }

    .logo-burger label {
        display: block;
        font-size: 2em;
        cursor: pointer;
    }

    #toggle:checked + #main-nav {
        display: block;
    }

    #main-nav {
        display: none;
        padding: 0;

    }

    .logo1 {
        width: 85px;
        height: 60px;
    }

    #main-nav li {
        text-align: center;
        border-bottom: 1px solid rgba(255, 255, 255, 0.7);
    }

    #main-nav a {
        margin: 0;
        text-align: center;
        line-height: 50px;
    }

    #main-nav li:last-of-type {
        border-bottom: none;
    }

    .social,
    .social2 {
        justify-content: center;
        width: 100%;
        top: auto;
        line-height: 0px;
    }

    .social {
        padding-left: 40px;
        background-color: #fff;
    }

    .social2 {
        right: 30px;
    }

}



/*MEDIA QUERY TABLET AND ABOVE*/

@media all and (min-width: 1200px) and (max-width: 1500px) {

    /*HEADER NAV*/
    header {
        display: flex;
        justify-content: center;
        align-items: center;

    }

    #logo-burger {
        margin-top: 27px;
        margin-bottom: 27px;
    }

    #logo {
        margin-top: .2em;
    }

    #main-nav {
        justify-content: center;
        width: 100%;


    }

    .hidden {
        display: none;
    }

    label {
        display: none;
    }


}
